.body {
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
}

h1 {
    margin-top: 30px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    text-align: left;
}

p {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    position: relative;
}

.carousel-image {
    text-align: center;
}

.carousel img {
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.caption {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
    text-align: center;
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.carousel-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    padding: 5px;
    position: absolute;
}

.left {
    margin-right: 70%;
}

.right {
    margin-left: 70%;
}

.carousel-btn:hover {
    color: gainsboro;
}

ul {
    text-align: left;
    padding-left: 20px;
}

li {
    text-align: left;
}


